@model IEnumerable<WagWander.Models.MediaItemDto>
@{
    ViewBag.Title = "List";
}

<h2>List of all media items</h2>
<a class="btn btn-success" href="/MediaItem/New">Add Media Item</a>

<div class="list-group mt-4">
    @foreach (var mediaItem in Model)
    {
        <div class="list-group-item mb-3">
            <h4 class="list-group-item-heading">
                <a class="text-decoration-none" href="/MediaItem/Details/@mediaItem.MediaItemID">@mediaItem.Title</a>
            </h4>
            <p class="list-group-item-text">
                <strong>Type:</strong> @mediaItem.Type
            </p>
            <p class="list-group-item-text">
                <strong>Description:</strong> @Html.Raw(@mediaItem.Description)
            </p>
            <p class="list-group-item-text">
                <strong>Release Date:</strong> @mediaItem.ReleaseDate.ToShortDateString()
            </p>
            <p class="list-group-item-text">
                <strong>Location: </strong> @mediaItem.LocationName
            </p>
            <p class="list-group-item-text">
                <strong>Genre:</strong> @mediaItem.Genre
            </p>
        </div>
    }
</div>