@model IEnumerable<WagWander.Models.LocationDto>

@{
    ViewBag.Title = "Locations List";
}

<main class="container mt-5">
    <h1 class="mb-4">@ViewBag.Title</h1>
    <div class="row">
        @foreach (var location in Model)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm border-light">
                    @{
                        string imageurl = "/Content/Images/Locations/default.jpg";
                        if (location.LocationHasPic)
                        {
                            imageurl = "/Content/Images/Locations/" + location.LocationId + "." + location.PicExtension;
                        }
                    }
                    <img class="card-img-top img-fluid" alt="@location.LocationName" src="@imageurl" />

                    <div class="card-body">
                        <h5 class="card-title">@location.LocationName</h5>
                        <p class="card-text">@location.LocationDescription</p>
                        <p class="card-text"><strong>Category:</strong> @location.Category</p>
                        <p class="card-text"><strong>Address:</strong> @location.Address</p>
                        <p class="card-text"><strong>Average Rating:</strong> @location.AverageRating.ToString("0.0")</p>

                        <div class="d-flex flex-wrap">
                            <a href="@Url.RouteUrl("AddReview", new { locationId = location.LocationId })" class="btn btn-primary mr-2 mb-2">Add Review</a>
                            <a href="@Url.Action("LocationWithReviews", "Location", new { id = location.LocationId })" class="btn btn-secondary mr-2 mb-2">View Reviews</a>
                            <a href="@Url.Action("Edit", "Location", new { id = location.LocationId })" class="btn btn-warning mr-2 mb-2">Edit</a>
                            <a href="@Url.Action("Details", "Location", new { id = location.LocationId })" class="btn btn-info mb-2">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main> 
